<!-- <form [formGroup]='editForm'(ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Title:</label>
        <input type="text" formControlName="title" name="title" id="name" class="form-control"
            placeholder="Enter your title">
            <label for="name">Description:</label>
        <input type="text" formControlName="description" name="description" id="name" class="form-control"
            placeholder="Enter your description">
        <label for="email">Content:</label>
        <input type="email" formControlName="content" name="content" id="name" class="form-control"
            placeholder="Enter your content">
        <button type="submit" class="btn btn-success mt-2">Submit</button>
    </div>
</form> -->

<form [formGroup]='editForm'(ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <input formControlName="title"matInput placeholder="Title">
        <!-- <mat-hint align="end">first name is required</mat-hint> -->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input formControlName="description"matInput placeholder="Description">
        <!-- <mat-hint align="end">last name is required</mat-hint> -->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input formControlName="content"matInput placeholder="Content">
        <!-- <mat-hint align="end">email name is required</mat-hint> -->
      </mat-form-field><br/>
    </div>

    <div>
      <mat-form-field>
        <input formControlName="date"matInput placeholder="Date">
        <!-- <mat-hint align="end">email name is required</mat-hint> -->
      </mat-form-field><br/>
    </div>
     <div>
      <button type="submit" mat-raised-button class="btn btn-success" [disabled]="!editForm.valid">Submit</button>
     </div>
</form>
